body{
    display: flex;
    height: 100vh;
    margin: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(141, 141, 141);
}
h1{
    color: rgb(74, 83, 83);
    font-family:cursive;
}
button{
    color: rgb(243, 192, 192);
    box-shadow:rgb(70, 75, 75);
    border: 5px rgb(70, 75, 75);
    border-radius: 10px;
    background-color: rgb(70, 75, 75);
    margin: 10px;
    width: 200px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
button:hover{
    background-color: rgb(168, 90, 90); 
    color: rgb(252, 241, 241);
}
.container{
    justify-self: center;
    background-color: rgb(187, 2, 2); 
    border-radius: 3%;
    padding: 8px;
    border: rgb(151, 2, 2) 20px solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 80vh;
    height: 80vh;
    margin: 0px;

}
.row{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex: 1 1 auto;
}
.cell{
    background-color: rgb(192, 192, 192);
    min-height: 5px;
    min-width: 5px;
    flex: 1 1 auto;
}
.controls{

    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#color-swatch{
    height:20px;
    width: 20px;
    background-color:hsl(0, 100%, 50%);
    margin-right: 10px;
    padding: 0px;
    display: inline-block;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    
}